@import "../theme.module.scss";

.Form {
  margin: 5px;
  width: 250px;
  border: 1px solid gray;
}

button {
  margin: 5px 10px;
}

.Submited {
  margin: 5px;
  width: 250px;
  border: 1px solid gray;
  p {
    margin: 5px;
  }
}
