@import "../theme.module.scss";

.Label {
  display: inline-block;
  margin: 5px;
  font: 15px $font;
}

.Value {
  display: inline-block;
  margin: 5px;
  font: 20px $font;
}
.LabeledValue {
  display: block;
}
